body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  padding: 2%;
}

header h1 {
  color: #45b0ee;
  font-size: 48px;
}

main {
  display: flex;
  padding: 0 4% 4% 4%;
  justify-content: space-evenly;
  gap: 10%;
}

.left-section,
.right-section {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 50%;
}

.left-section .top {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
}

.left-section .top h2,
.right-section .top h2 {
  padding: 0;
  margin: 0;
  font-size: 28px;
  color: #45b0ee;
}

.right-section form button {
  display: flex;
  align-self: flex-end;
  width: max-content;
  height: max-content;
  padding: 5px;
  background: #fff;
  border: 2px solid #45b0ee;
  color: #45b0ee;
}

.left-section .top button {
  width: max-content;
  height: max-content;
  padding: 5px;
  background: #fff;
  border: 2px solid #45b0ee;
  color: #45b0ee;
}

.left-section .bottom {
  border: 2px solid  #45b0ee;
  min-height: 50px;
  margin: 0;
  padding: 0;
  font-size: 18px;
  color: #45b0ee;
}

.left-section .bottom .list-item {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 2% 5%;
}

.left-section .bottom .list-item:nth-child(even) {
  background: #f5f3f3;
}

.right-section .top {
  padding: 2%;
}

.right-section form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.right-section form input {
  border: 2px solid #45b0ee;
  padding: 2%;
}

.right-section form input::placeholder {
  color: #45b0ee;
}
